main {
    text-align: center;
    justify-content: center;
    margin: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
  }

  main .h3 {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  main .h4 {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  main .p {
    font-size: 100px;
    background-color: rgb(94, 227, 207);
    display: flex;
  }
  
  main {
    margin: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
  }
  main .img {
    display: flex;
  
  }
  